@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons{
  cursor: pointer;
}

.form {
  caret-color: transparent;
}

.container {
  position: relative;
  min-height: 30vh;
}

.inputSelect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.inputText {
  pointer-events: none;
}


